.mygoals {
    color: rgb(213, 171, 120);
    font-size: 45px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.myname {
    color: #ce169d;
    font-style: italic;
}

.listitems {
    color: rgb(213, 171, 120);
    font-weight: bold;
    
}

#listitemlarge {
    color: rgb(213, 171, 120);
    font-weight: bold;
}

body {
    background-color: #1c0432;
}

p {
    color: rgb(213, 171, 120);
    font-style: italic;
}